*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

​.img {
  float: right;
}

body,
html {
  height: 100%;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  height: 75px;
  width: 80vw;
  border-bottom: 5px solid rgb(216, 212, 212);
}

.nav-left {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.nav-right {
  padding: 30px 0 0 0;
  margin: 0 20px 15px 20px;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: auto;
  padding: 10px;
}

.title {
  padding: 30px 0 0 0;
  margin: 0 20px 15px 20px;
  cursor: pointer;
  border-bottom: 5px red solid;
}

.content {
  height: 80vw;
  margin: 15px 10% 15px 10%;
  font-size: 25px;
}

.content-sub {
  height: 80vw;
  margin: 15px 10% 15px 10%;
  font-size: 25px;
  visibility: hidden;
}

.movie-content {
  display: flex;
  flex-wrap: wrap;
}

.movie-content-sub {
  display: flex;
  flex-wrap: wrap;
}

.movie img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  margin-bottom: 20px;
}

.header-sub {
  margin-bottom: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 200px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  overflow-wrap: break-word;
}

.movie-name {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-date {
  color: gray;
}

.selector {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selector-txt {
  font-size: 15px;
}

.selector-btn {
  padding: 1px;
}

#prev {
  opacity: 0.3;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: aliceblue;
  visibility: hidden;
}

.modal-bg {
  margin: auto;
  height: 500px;
  width: 90%;
  background-size: 100% 100%;
}


.black-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.movie-poster {
  height: 400px;
  margin: 50px 5% 50px 5%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  width: calc(60% - 30px);
}

.movie-title {
  color: white;
  font-size: 20px;
  margin: 15px 15px 30px 15px;
}

.movie-description {
  color: white;
  margin: 15px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blank-space {
  background-color: rgb(209, 203, 203);
  opacity: 0.9;
  height: 100px;
  width: 90%;
  margin: 15px;
}

.modal-close {
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}

.like-btn {
  position: relative;
  top: 26px;
  margin-top: -30px;
  height: 30px;
  width: 200px;
}

.like-container {
  color: transparent;
  cursor: pointer;
  height: 40px;
  padding: 10px;
}

.movie:hover .like-container{
  transition: 1s;
  left: 0;
  background-color: white;
  color: black;
}

.like-count {
  position: relative;
  left: 60px;
  bottom: 25px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.like-cnt {
  margin-left: 5px;

}

.company-image {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.blank-space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;

}

.tag {
  height: 20px;
  width: 70px;
  background-color: white;
  padding: 3px;
  margin: 5px;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-txt {
  color:white;
  font-size: 15px;
}