*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

​.img {
  float: right;
}

body,
html {
  height: 100%;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 80vw;
  margin: 0 10% 0 10%;
  border-bottom: 5px solid rgb(183, 177, 177);
}

.logo {
  height: 100%;
  width: auto;
  padding: 10px;
}

.movie-list {
  padding: 20px;
}

.content {
  height: 80vw;
  margin: 15px 10% 15px 10%;
  font-size: 25px;
}